.jumbotron {
  padding: 0;
  margin: 0;
  background-color:rgb(50,93,121);
}

body {
    padding: 0;
    margin: 0;
    background-color:rgb(242,102,39);
}
#contact-info {
    padding: 0;
    margin: 0;
    background-color:rgb(50,93,121);
}
/* .jumbotron {
  position: absolute
} */

