head {
  padding: 0;
  margin: 0;
  background-color:rgb(50,93,121);
}

body {
    padding: 0;
    margin: 0;
    background-color:rgb(255, 255, 255);
}
#contact-info {
    padding: 0;
    margin: 0;
    background-color:rgb(255, 255, 255);
}

.jumbotron {
  /* position: absolute */
  background: radial-gradient(ellipse at bottom, #F9A26C 0%, #F26627 100%);
}

.jumbotron h1 {
  color:#325D79;
}

.jumbotron p {
  color:hsla(204, 42%, 34%, 0.565);
}

/* h2 {
  background: #9BD7D1;
  padding:10px;
  border-radius: 5px;
} */

#map {
  width: 100%;
  height: 400px;
  position: absolute;
  margin:0;
  padding:0; 
  border: 1px solid black;
  border-radius: 8px;
}

palette {
  color: #F26627;
  color: #F9A26C;
  color: #EFEEEE;
  color: #9BD7D1;
  color: #325D79;
}
