.jumbotron {
  margin:0;
  background-color:rgb(50,93,121);
  /* background: radial-gradient(ellipse at bottom, rgb(50,93,121,0.588) 0%, rgb(50,93,121)); */
  color: white;
}

.navbar {
  background-color: #F9A26C;
  background: radial-gradient(ellipse at bottom, #F9A26C, #f9a26cca 0%,);
}

.navbar2 {
  padding: 0px;
  margin: 0px;
}

.navbar2 a {
  color: rgb(50,93,121);
}

.navbar-custom {
  background-color: #4433cc;
}

body {
  background-color:rgb(155,215,209)!important;
  font-family: 'Courier New', monospace;
  text-align: center;
}
.carousel {
  margin-top:10px;
  width:900px;
  height:700px;
}
.carousel-inner {
  margin-top:10px;
}
.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btn-info {
  margin-top:5px;
  margin-bottom:5px;
}

.analysis li {
  list-style-type: none;
  text-align:center;
}

.col-md-5 {
  
  background-color: rgb(155,215,209)
  
} 
.col-md-2 {
  
  background-color: rgb(249,162,108)

}
.col-md-2 {
  
  color: rgb(50,93,121);
  
}
h2 {
  font-weight: bolder;
  color: white
}

.center {
  display:inline-block;
  justify-content: center;
}

.logreg {
  height: 60%;
  width: 60%;
}

palette {
  color: #F26627;
  color: #F9A26C;
  color: #EFEEEE;
  color: #9BD7D1;
  color: #325D79;
}